@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('/fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('/fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('/fonts/OpenDyslexic-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open-Dyslexic';
  src: url('/fonts/OpenDyslexic-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

p, h1, h2, h3, h4, h5, h6, li, a, span, button, input, textarea, select, label, legend, caption, blockquote, dfn, address, summary, details, section {
  font-family: 'Open-Dyslexic', sans-serif;
}

html {
  background-color: var(--bg-gray-100);
}
